/* Common */
.sub-menu{
   display: none;
   position: absolute;
   background-color: var(--white-color);
   top: calc(100% + 12px);
   border: 1px solid #eaeaea;
   left: 0;
   z-index: 1;
}

.sub-menu::before,
.sub-menu::after
{  
   content: "";
   display: block;
   position: absolute;
   border-style: solid;
   width: 0;
   height: 0;
}

.sub-menu::before{
   border-width: 12px;
   border-color: rgba(234, 234, 234, 0);
   border-bottom-color: #eaeaea;
   top: -25px;
}

.sub-menu::after{
   border-width: 12px;
   border-color: rgba(255, 255, 255, 0);
   border-bottom-color: var(--white-color);
   top: -24px;
   z-index: 2;
}


/* Header */
.header{
   display: flex;
   justify-content: space-between;
   background-color:#222;
   height: var(--header-height);
}

.top-header{
   display: flex;
   justify-content: space-between;
   height: var(--header-height);
}

.top-header--left{
   display: flex;
   color: #888;
   font-size: 1.2rem;
}

.switch-list{
   display: flex;
   position: relative;
   list-style: none;
   margin: 0;
   align-items: center;
   padding-left: 0;
}

.switch-item{
   display: flex;
   position: relative;
   align-items: center;
   height: 100%;
   padding-right: 14px;
   cursor: pointer;
}

.switch-item::before{
   content: "";
   position: absolute;
   display: block;
   border-width: 6px 5px;
   border-style: solid;
   border-color: #888 transparent transparent transparent;
   right: 0;
   top: calc(50% - 2px);
}

.language{
   margin-right: 14px;
}


.language-separate::after{
   content: "";
   display: block;
   position: absolute;
   height: 12px;
   top: 50%;
   transform: translateY(-50%);
   border-left: 1px solid rgba(136, 136, 136, 0.2);
   right: -14px;
}

.language:hover .language-change{
   display: block;
}


/* Language */

.language-change{
   display:none;
   width: 96px;
   background-color: var(--white-color);
   position: absolute;
   top: 100%;
   left: 0;
   border: 2px solid #f5f5f5;
   border-top: none;
   z-index: 1;
}

.language-change::before{
   content: "";
   display: block;
   position: absolute;
   border-width: 8px 8px;
   border-style: solid;
   border-color: transparent transparent var(--white-color) transparent;
   top: -16px;
   left: 20px;
}

.language-change-list{
   list-style: none;
   padding-left: 0;
}

.language-change-item{
   display: flex;
   align-items: center;
   text-align: center;
   line-height: 1.4rem;
   font-size: 1rem;
   padding: 15px 22px 15px 10px;
}

.language-change-list .language-change-item:hover{
   background-color: #f5f5f5;
}



/* Currency */

.currency{
   margin-left: 14px;
}

.currency:hover .currency-change{
   display: block;
}

.currency-change{
   display: none;
   position: absolute;
   background-color: #fff;
   width: 96px;
   font-size: 1.2rem;
   top: 100%;
   border: 2px solid #f5f5f5;
   border-top: none;
   z-index: 1;
}

.currency-change::before{
   content: "";
   display: block;
   position: absolute;
   border-width: 8px 8px;
   border-style: solid;
   border-color: transparent transparent var(--white-color) transparent;
   top: -16px;
   left: 10px;
}

.currency-change-list{
   list-style: none;
   padding-left: 0;
}

.currency-change-item{
   line-height: 1.4rem;
   padding: 8px 4px;
}

.currency-change-item:hover{
   background-color: #f5f5f5;
}

/* Header Navbar */
.top-header--right{
   color: #888;
   font-size: 1.2rem;
   /* font-weight: 400; */
}

.menu-list{
   height: 100%;
   margin: 0;
   display: flex;
   align-items: center;
   list-style: none;
}

.menu-item{
   height: 100%;
   display: flex;
   align-items: center;
   padding: 0 20px;
   border-left: 1px solid rgba(136, 136, 136, 0.2);
}

.menu-item:last-child{
   border-right: 1px solid rgba(136, 136, 136, 0.2);
}

.menu-item-icon{
   margin-right: 8px;
}

.menu-item:nth-child(4) .icon{
   transform: scaleX(-1)
}

.menu-item-link{
   text-decoration: none;
   color: #888;
}

/* BODY */

.body__header{
   display: flex;
   justify-content: space-between;
   padding: 40px 0;
}

.body__header-logo{
   width: 25%;
   display: flex;
   align-items: center;
}

.body__header--right{
   display: flex;
   flex: 1;
   justify-content: flex-start;
   color: #666;
   font-size: 1.3rem;
}

.policy{
   display: flex;
   align-items: center;
}

.policy-link{
   display: flex;
   position: relative;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   margin-right: 10px;
   width: 40px;
   height: 40px;
   background-color: #e5e5e5;
   border-radius: 50%;
}

.policy:nth-child(1){
   margin-right: 70px;
}

.policy:nth-child(2){
   margin-right: 60px;
}


.policy__info{
   display: flex;
   flex-direction: column;
}

.policy__info a{
   text-decoration: none;
   color: #666;
   font-weight: normal;
   text-transform: uppercase;
}

.policy__info-title{
   font-weight: 500;
   margin: 0 0 4px 0;
}

.policy-link .icon{
   color: #666;
}

.policy-link:nth-child(1) .icon{
   transform: scaleX(-1);
}


/* BODY */
.main-navbar{
   position: relative;
   display: flex;
   align-items: center;
   height: 55px;
}

.main-navbar::before{
   content: "";
   position: absolute;
   background: url(../img/double-dotted.png);
   width: 100%;
   height: 3px;
   top: 0;
   left: 0;
}

.main-navbar::after{
   content: "";
   position: absolute;
   background: url(../img/double-dotted.png);
   width: 100%;
   height: 3px;
   bottom: 0;
   left: 0;
}

.navbar--left{
   width: 75%;
}

.navbar--left-list{
   display: flex;
   position: relative;
   justify-content: space-between;
   list-style: none;
   padding-left: 0;
}

.navbar--left-item{
   font-size: 1.3rem;
   font-weight: 700;
}

.navbar--left-item a{
   color: #333;
   text-decoration: none;
}

.navbar--left-item:first-child:hover .home-page,
.navbar--left-item:nth-child(2):hover .furniture,
.navbar--left-item:nth-child(5):hover .bedroom
{
   display: block;
}

/* HOME PAGE */

.home-page{
   width: 220px;
   height: 170px;
   padding: 15px 0;
}

.home-page::before,
.home-page::after{
   left: 4px;
}

.home-page-list{
   display: block;
   list-style: none;
   padding-left: 0;
}

.home-page-item{
   line-height: 2rem;
}

.home-page-item .link{
   display: block;
   text-decoration: none;
   padding: 4px 20px;
   font-size: 1.2rem;
   font-weight: 400;
}

/* Furniture Sub-content*/
.furniture{
   width: 1200px;
}

.furniture::before,
.furniture::after{
   left: 84px;
}

.furniture-list{
   display: flex;
   margin: 0 16px;
}

.furniture-item{
   width: 25%;
   margin: 32px 16px 0 32px;
}

.furniture-item-title{
   position: relative;
   font-size: 1.4rem;
   font-weight: 700;
   margin: 0 0 30px 0;

}

.furniture-item-title::after{
   content: "";
   display: block;
   position: absolute;
   border-bottom: 1px solid #e4e4e4;
   width: 100%;
   top: calc(100% + 8px);
   left: 0;
}

.furniture-item a{
   display: block;
   font-size: 1.2rem;
   font-weight: 400;
   color: #666;
   margin-bottom: 4px;
   padding: 2px 0;
}

.furniture__banner{
   display: flex;
   justify-content: space-around;
   margin: 18px 22px 22px;
}

.furniture__banner--right img,
.furniture__banner--left img{
   max-width: 539px;
}


/* BEDROOM */
.bedroom{
   width: 1200px;
}

.bedroom::before,
.bedroom::after{
   left: 390px;
}

.bedroom-list{
   display: flex;
   list-style: none;
   padding-left: 0;
   margin: 32px 16px;
}

.bedroom-item{
   width: 25%;
   margin: 0 16px;
}

.bedroom-item__preview{
   position: relative;
   margin-bottom: 18px;
   padding-top: 60%;
   overflow: hidden;
}

.bedroom-item-link{
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.bedroom-item-link img{
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
}

.bedroom-item__content p{
   color: #666;
   font-size: 1.2rem;
   font-weight: 400;
   margin: 12px 0 0 0;
}

