.header{
   display: flex;
   justify-content: space-between;
   background-color:#222;
   height: var(--header-height);
}

.header__wrap{
   display: flex;
   justify-content: space-between;
   height: var(--header-height);
}

.country{
   display: flex;
   color: #888;
   font-size: 1.2rem;
}

.country__list{
   display: flex;
   position: relative;
   list-style: none;
   margin: 0;
   align-items: center;
   padding-left: 0;
}

.country__language-separate::after{
   content: "";
   display: block;
   position: absolute;
   height: 12px;
   top: 50%;
   transform: translateY(-50%);
   border-left: 1px solid rgba(136, 136, 136, 0.2);
   right: 0;
}

.country__language, 
.country__currency{
   display: flex;
   position: relative;
   align-items: center;
   height: 100%;
   padding-right: 14px;
   cursor: pointer;
}

.country__language:hover .language__switch{
   display: block;
}

.country__language .flag {
   height: 10px;
   width: 16px;
   margin-right: 3px;
}

.switch-arrow{
   font-size: 1.6rem;
   margin: 0 0 4px 4px;
}

/* Language */

.language__switch{
   display:none;
   width: 96px;
   background-color: var(--white-color);
   position: absolute;
   top: 100%;
   left: 0;
   border: 2px solid #f5f5f5;
   border-top: none;
   z-index: 1;
}

.language__switch::before{
   content: "";
   display: block;
   position: absolute;
   border-width: 8px 8px;
   border-style: solid;
   border-color: transparent transparent var(--white-color) transparent;
   top: -16px;
   left: 20px;
}

.language__list{
   list-style: none;
   padding-left: 0;
}

.language-item{
   display: flex;
   align-items: center;
   text-align: center;
   line-height: 1.4rem;
   font-size: 1rem;
   padding: 15px 22px 15px 10px;
}

.language__list .language-item:hover{
   background-color: #f5f5f5;
}

.language__list .language-item .name{
   margin-left: 2px;
}


/* Currency */

.country__currency{
   padding-right: 0;
   margin: 0 14px;
}

.country__currency:hover .currency__switch{
   display: block;
}

.currency__switch{
   display: none;
   position: absolute;
   background-color: #fff;
   width: 96px;
   font-size: 1.2rem;
   top: 100%;
   border: 2px solid #f5f5f5;
   border-top: none;
   z-index: 1;
}

.currency__switch::before{
   content: "";
   display: block;
   position: absolute;
   border-width: 8px 8px;
   border-style: solid;
   border-color: transparent transparent var(--white-color) transparent;
   top: -16px;
   left: 10px;
}

.currency__switch-list{
   list-style: none;
   padding-left: 0;
}

.currency__switch-item{
   line-height: 1.4rem;
   padding: 8px 4px;
}

.currency__switch-item:hover{
   background-color: #f5f5f5;
}

/* Header Navbar */
.header__navbar{
   color: #888;
   font-size: 1.2rem;
   
}

.header__navbar-list{
   height: 100%;
   margin: 0;
   display: flex;
   align-items: center;
   list-style: none;
}

.header__navbar-item{
   height: 100%;
   display: flex;
   align-items: center;
   padding: 0 20px;
   border-left: 1px solid rgba(136, 136, 136, 0.2);
}

.header__navbar-item:last-child{
   border-right: 1px solid rgba(136, 136, 136, 0.2);
}

.header__navbar-item-icon{
   margin-right: 8px;
}

.header__navbar-item:nth-child(4) .icon{
   transform: scaleX(-1)
}

.header__navbar-item-link{
   text-decoration: none;
   color: #888;
}

/* BODY */

.body__header{
   display: flex;
   justify-content: space-between;
   padding: 40px 0;
}

.body__header-logo{
   width: 25%;
   display: flex;
   align-items: center;
}

.body__header--right{
   display: flex;
   flex: 1;
   justify-content: flex-start;
   color: #666;
   font-size: 1.3rem;
}

.policy{
   display: flex;
   align-items: center;
}

.policy .link{
   display: flex;
   position: relative;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   margin-right: 10px;
   width: 40px;
   height: 40px;
   background-color: #e5e5e5;
   border-radius: 50%;
}

.policy:nth-child(1){
   margin-right: 70px;
}

.policy:nth-child(2){
   margin-right: 60px;
}


.policy-info{
   display: flex;
   flex-direction: column;
}

.policy-info a{
   text-decoration: none;
   color: #666;
   font-weight: normal;
   text-transform: uppercase;
}

.policy-title{
   font-weight: 500;
   margin: 0 0 4px 0;
}

.policy-link .icon{
   color: #666;
}

.policy-link:nth-child(1) .icon{
   transform: scaleX(-1);
}

.policy-description{
   font-size: 1.3rem;
}


/* BODY NAVBAR */
.body__navbar{
   display: flex;
   height: 55px;
   align-items: center;
   position: relative;
}

.body__navbar::before{
   content: "";
   position: absolute;
   background: url(../img/double-dotted.png);
   width: 100%;
   height: 3px;
   top: 0;
   left: 0;
}

.body__navbar::after{
   content: "";
   position: absolute;
   background: url(../img/double-dotted.png);
   width: 100%;
   height: 3px;
   bottom: 0;
   left: 0;
}

.navbar__wrapper{
   width: 75%;
}

.navbar-list{
   display: flex;
   justify-content: space-between;
   list-style: none;
   padding-left: 0;
}

.navbar-item{
   position: relative;
}

.navbar-item:first-child:hover .home-page
{
   display: block;
}

.navbar-item a{
   text-decoration: none;
   font-size: 1.3rem;
   font-weight: 700;
   color: #333;
}

.home-page{
   display: none;
   position: absolute;
   background-color: #fff;
   width: 220px;
   height: 170px;
   top: calc(100% + 12px);
   border: 1px solid #eaeaea;
   padding: 15px 0;
   z-index: 1;
}

.home-page::before,
.home-page::after
{  
   content: "";
   display: block;
   position: absolute;
   border-style: solid;
   width: 0;
   height: 0;
}

.home-page::before{
   border-width: 13px;
   border-color: rgba(234, 234, 234, 0);
   border-bottom-color: #eaeaea;
   top: -27px;
   left: 8px;
}

.home-page::after{
   border-width: 13px;
   border-color: rgba(255, 255, 255, 0);
   border-bottom-color: var(--white-color);
   top: -26px;
   left: 8px;
   z-index: 2;
}

.home-page-list{
   display: block;
   list-style: none;
   padding-left: 0;
}

.home-page-item{
   line-height: 2rem;
}

.home-page-item .link{
   display: block;
   text-decoration: none;
   padding: 4px 20px;
   font-size: 1.2rem;
   font-weight: 300;
   color: #666;
}