
/* Header */
.header{
   display: flex;
   justify-content: space-between;
   background-color:#222;
   height: var(--header-height);
}

.header__container{
   display: flex;
   justify-content: space-between;
   height: var(--header-height);
}

.header__container--left{
   display: flex;
   color: #888;
   font-size: 1.2rem;
}

.toggle{
   display: flex;
   position: relative;
   list-style: none;
   margin: 0;
   align-items: center;
   padding-left: 0;
}

.toggle-item{
   display: flex;
   position: relative;
   align-items: center;
   height: 100%;
   padding-right: 14px;
   cursor: pointer;
}

.toggle-item::before{
   content: "";
   position: absolute;
   display: block;
   border-width: 6px 5px;
   border-style: solid;
   border-color: #888 transparent transparent transparent;
   right: 0;
   top: calc(50% - 2px);
}

.toggle-item:first-child{
   margin-right: 14px;
}

.toggle-item:nth-child(2){
   margin-left: 14px;
}

.toggle-item--separate::after{
   content: "";
   display: block;
   position: absolute;
   height: 12px;
   top: 50%;
   transform: translateY(-50%);
   border-left: 1px solid rgba(136, 136, 136, 0.2);
   right: -14px;
}

.toggle-item:first-child:hover .toggle__language{
   display: block;
}

.toggle-item:nth-child(2):hover .toggle__currency{
   display: block;
}



/* toggle language */

.toggle__language{
   display:none;
   width: 96px;
   background-color: var(--white-color);
   position: absolute;
   top: 100%;
   left: 0;
   border: 2px solid #f5f5f5;
   border-top: none;
   z-index: 1;
}

.toggle__language::before{
   content: "";
   display: block;
   position: absolute;
   border-width: 8px 8px;
   border-style: solid;
   border-color: transparent transparent var(--white-color) transparent;
   top: -16px;
   left: 20px;
}

.toggle__language-list{
   list-style: none;
   padding-left: 0;
}

.toggle__language-item{
   display: flex;
   align-items: center;
   text-align: center;
   line-height: 1.4rem;
   font-size: 1rem;
   padding: 15px 22px 15px 10px;
}

.toggle__language-list .toggle__language-item:hover{
   background-color: #f5f5f5;
}



/* Toggle currency */

.toggle__currency{
   display: none;
   position: absolute;
   background-color: #fff;
   width: 96px;
   font-size: 1.2rem;
   top: 100%;
   border: 2px solid #f5f5f5;
   border-top: none;
   z-index: 1;
}

.toggle__currency::before{
   content: "";
   display: block;
   position: absolute;
   border-width: 8px 8px;
   border-style: solid;
   border-color: transparent transparent var(--white-color) transparent;
   top: -16px;
   left: 10px;
}

.toggle__currency-list{
   list-style: none;
   padding-left: 0;
}

.toggle__currency-item{
   line-height: 1.4rem;
   padding: 8px 4px;
}

.toggle__currency-item:hover{
   background-color: #f5f5f5;
}

/* Header Navbar */
.header__container--right{
   color: #888;
   font-size: 1.2rem;
   /* font-weight: 400; */
}

.navigation-list{
   height: 100%;
   margin: 0;
   display: flex;
   align-items: center;
   list-style: none;
}

.navigation-item{
   height: 100%;
   display: flex;
   align-items: center;
   padding: 0 20px;
   border-left: 1px solid rgba(136, 136, 136, 0.2);
}

.navigation-item:last-child{
   border-right: 1px solid rgba(136, 136, 136, 0.2);
}

.navigation-item-icon{
   margin-right: 8px;
}

.navigation-item:nth-child(4) .icon{
   transform: scaleX(-1)
}


/* BODY */

.introduce{
   display: flex;
   justify-content: space-between;
   padding: 40px 0;
}

.logo{
   display: flex;
   align-items: center;
}

.policy{
   display: flex;
   justify-content: flex-start;
   color: #666;
   font-size: 1.4rem;
}

.policy-item{
   display: flex;
   align-items: center;
}

.policy-item-link{
   display: flex;
   position: relative;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   margin-right: 10px;
   width: 40px;
   height: 40px;
   background-color: #e5e5e5;
   border-radius: 50%;
}

.policy-item-rotate{
   transform: scaleX(-1);
}

.policy__info{
   display: flex;
   flex-direction: column;
}

.policy__info a{
   text-decoration: none;
   color: #666;
   font-weight: normal;
   text-transform: uppercase;
}

.policy__info-title{
   font-weight: 400;
   margin: 0 0 4px 0;
}

.policy__info-description{
   font-size: 1.2rem;
}


/* BODY */
.menu{
   position: relative;
   display: flex;
   align-items: center;
   height: 55px;
}

.menu::before{
   content: "";
   position: absolute;
   background: url(../img/double-dotted.png);
   width: calc(100% - 24px);
   height: 3px;
   top: 0;
   left: 12px;
}

.menu::after{
   content: "";
   position: absolute;
   background: url(../img/double-dotted.png);
   width: calc(100% - 24px);
   height: 3px;
   bottom: 0;
   left: 12px;
}


.menu--left-list{
   display: flex;
   position: relative;
   justify-content: space-between;
   list-style: none;
   padding-left: 0;
}

.menu--left-item{
   position: relative;
   font-size: 1.3rem;
   font-weight: 700;
}

.menu--left-item a{
   color: #333;
   text-decoration: none;
}

.menu--left-home:hover .sub-menu,
.menu--left-item:nth-child(2):hover .furniture,
.menu--left-item:nth-child(5):hover .bedroom
{
   display: block;
}

.menu--left-item:first-child::before
{
   content: "";
   display: block;
   position: absolute;
   background-color: transparent;
   width: 100%;
   height: 100%;
   top: 100%;
}

/* HOME PAGE */

.home-menu{
   display: none;
   width: 220px;
   height: 170px;
   padding: 15px 0;
   left: 0;
}

.home-menu::before,
.home-menu::after{
   left: 4px;
}

.home-menu-list{
   display: block;
   list-style: none;
   padding-left: 0;
}

.home-menu-item{
   line-height: 2rem;
}

.home-menu-item .link{
   display: block;
   padding: 4px 20px;
   font-size: 1.2rem;
   font-weight: 400;
}

/* Furniture Sub-content*/
.furniture{
   display: none;
   width: 1200px;
   left: -70px;
}

.furniture::before,
.furniture::after{
   left: 84px;
}

.furniture-list{
   display: flex;
   margin: 32px 15px 22px;
}

.furniture-item{
   margin: 0 15px;
   width: 25%;
}

.furniture-item-title{
   position: relative;
   font-size: 1.4rem;
   font-weight: 700;
   margin: 0 0 24px 0;

}

.furniture-item-title::after{
   content: "";
   display: block;
   position: absolute;
   border-bottom: 1px solid #e4e4e4;
   width: 100%;
   top: calc(100% + 6px);
   left: 0;
}

.furniture-item a{
   display: block;
   font-size: 1.2rem;
   font-weight: 400;
   color: #666;
   margin-top: 8px;
}

.furniture__banner{
   display: flex;
   justify-content: space-around;
   margin: 0 15px;
}

.furniture__banner--left,
.furniture__banner--right{
   margin: 0 15px 26px;
}

.furniture__banner--left img,
.furniture__banner--right img
{
   width: 555px;
   max-width: 569px;
}


/* BEDROOM */
.bedroom{
   display:none;
   width: 1200px;
   left: -380px;
}

.bedroom::before,
.bedroom::after{
   left: 390px;
}

.bedroom-list{
   display: flex;
   list-style: none;
   padding-left: 0;
   margin: 32px 16px;
}

.bedroom-item{
   width: 25%;
   margin: 0 16px;
}

.bedroom-item__preview{
   position: relative;
   margin-bottom: 18px;
   padding-top: 60%;
   overflow: hidden;
}

.bedroom-item-link{
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.bedroom-item-link img{
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
}

.bedroom-item__content p{
   color: #666;
   font-size: 1.2rem;
   font-weight: 400;
   margin: 12px 0 0 0;
}


/* Main menu-right */
.menu--right{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   color: #666;
}

.menu--right__search{
   position: relative;
   display: block;
   font-size: 1.6rem;
   padding-right: 20px;
}

.menu--right__search::after{
   content: '';
   display: block;
   position: absolute;
   border-left: 1px solid rgba(136, 136, 136, 0.2);
   height: 18px;
   width: 0.6px;
   right: 0;
   top: -50%;
   transform: translateY(38%);
}

.menu--right__cart{
   position: relative;
   display: flex;
   cursor: pointer;
   align-items: center;
   font-size: 1.2rem;
   padding-left: 24px;
}

.menu--right__cart::after{
   content: "";
   position: absolute;
   display: block;
   background-color: transparent;
   top: 26px;
   width: 84px;
   height: 16px;
}

.menu--right__cart:hover .menu--right__cart-view{
   display: block;
}


.menu--right__cart-icon{
   transform: translateY(-2px)
}

.menu--right__cart-quantity{
   margin: 0 6px;
   color: red;
}

.menu--right__cart-view{
   display: none;
   min-width: 300px;
   padding: 20px 0;
   top: calc(100% + 2px);
   left: -192px;
}

.menu--right__cart-view.sub-menu::before{
   top: -32px;
   border-width: 16px;
   right: 24px;
}

.menu--right__cart-view.sub-menu::after{
   top: -31px;
   border-width: 16px;
   right: 24px;
}

.block--inner{
   display: flex;
   justify-content: center;
}